
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./test.css";

.btn {
  @apply rounded-0px ;
}

.no-drag {
  -webkit-app-region: no-drag !important;
}

.drag {
  -webkit-app-region: drag !important;
}

.body {
  user-select: none;
}
